.sect {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
      rgba(13, 20, 24, 0.5),
      rgba(13, 20, 24, 0.5)
    ),
    url("https://i.pinimg.com/originals/58/c3/33/58c33377dfcbb3022493dec49d098b02.jpg");
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #eee;
}

.sect .topBar {
  width: 100%;
  height: 60px;
  background-color: #262d31;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sect .topBar .imag {
  display: flex;
  align-items: center;
}

.sect .topBar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 15px;
}

.sect .topBar .texts {
  flex-grow: 1;
}

.sect .topBar .texts h6 {
  font-size: 18px;
  font-weight: 500;
  margin: 0 !important;
}

.sect .topBar .texts p {
  font-size: 11px;
  color: #999;
  margin: 0;
  font-weight: 500;
}

.sect .topBar .icons {
  margin: 0 10px;
}

.sect .message-canvas {
  height: calc(100vh - 60px - 70px);
}

.sect .bottomBar {
  width: calc(100vw - 30%);
  height: 70px;
  position: fixed;
  background-color: #1e2428;
  margin: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
}

.sect .bottomBar .icons {
  text-align: center;
  margin: auto 15px;
  cursor: pointer;
}

.sect .bottomBar .input {
  margin: auto auto;
  flex-grow: 1;
  overflow-x: hidden;
}

.sect .bottomBar .input {
  font-size: 13px;
  height: 35px;
  margin: 0 10px;
  padding: 0 10px;
  border-radius: 50px;
  background: #323739;
  border: none;
  color: #eee;
}

.sect .bottomBar input:focus {
  border: none;
  text-decoration: none;
  outline: none;
}

.sect .bottomBar .bi-paperclip {
  transform: rotate(45deg);
}
