.screen {
  min-height: 100%;
  background-color: #131c21;
  border-right: 1px solid #444;
}

.screen-header {
  height: 125px;
}

.displayContacts {
  height: calc(100vh - 127px);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  border-top: 0.05rem solid #444;
}

.displayContacts .itemContact {
  display: block;
}

::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    rgba(156, 156, 156, 0.4),
    rgba(156, 156, 156, 0.4)
  );
  border-radius: 5px;
}
